<!doctype html>
<html>
	<head>
		<title>Article!</title>
	</head>
	<body>
		<form method="post" action="/articles">
			<input placeholder="Title" type ="text" name="article[title]"><br>
			<input placeholder="Date" type="text" name="article[date]"><br>
			<textarea placeholder="Summation" name="article[summary]">
			</textarea><br>
			<button>Save Button</button>

		</form>
	</body>
</html>