<!doctype html>
<html>
	<head>
		<title>Articles</title>
	</head>
	<body>
		<h2>A List of Articles that is Wanted</h2>
	<ul>
		<li> <%= article.title %> </li>
		<li> <%= article.date %> </li>
		<li> <%= article.summary %> </li>
	</ul>	
	</body>
</html>


