<!doctype html>
<html>
	<head>
		<title>Articles</title>
	</head>
	<body>
		<h2>A List of Stuff that is Wanted</h2>
	
		<h3> <%= article.title %> </h3>
		<p> <%= article.date %> </p>
		<p> <%= article.summary %> </p>

	</body>
</html>